
<div class="bg-dark command-console">
    <h3>CommandConsole</h3>
    <p class="console-log">@Text</p>

    <input type="text" @bind="CurrentLine" @bind:event="oninput" @onkeypress="OnKeyPress" />
</div>

@code {
    private string Text { get; set; }
    private string CurrentLine { get; set; }

    [Parameter]
    public DubiousDroidsClassLibrary.Overhead.Interfaces.IGameState GS { get; set; }

    private void OnKeyPress(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            Text += $"\ncommand {DateTime.Now.ToString("HH:mm:ss")}  >  {CurrentLine}";
            GS.InputManager.ParseTextInput(CurrentLine);
            CurrentLine = "";
        }
    }

    public void OnOutputManagerUpdated(object source, EventArgs args)
    {
        var signal = GS.OutputManager.CurrentDroidReports.Last();
        Text += $"\nsignal {DateTime.Now.ToString("HH:mm:ss")}  >  droid {signal.ID}, position ({string.Join(';', signal.Position)}), facing {signal.Direction}";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GS.OutputManager.OutputManagerUpdated += OnOutputManagerUpdated;
    }
}
