<h3>DroidMapTable</h3>

<table>
    @for (int i = 0; i < GS.OutputManager.DisplayedTiles.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < GS.OutputManager.DisplayedTiles.GetLength(1); j++)
            {
                <td style="border:solid;height:50px;width:100px;">
                    <p>@GS.OutputManager.DisplayedTiles[i, j]</p>
                </td>
            }
        </tr>
    }
</table>

@code {
    [Parameter]
    public DubiousDroidsClassLibrary.Overhead.Interfaces.IGameState GS { get; set; }

    public void OnOutputManagerUpdated(object source, EventArgs args)
    {
        this.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GS.OutputManager.OutputManagerUpdated += OnOutputManagerUpdated;
    }
}
