<h3>DroidMapTable</h3>

<table>
    @for (int i = 0; i < GS.OutputManager.DisplayedTiles.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < GS.OutputManager.DisplayedTiles.GetLength(1); j++)
            {
                <td style="border:solid;height:30px;width:50px;">
                    <p @bind="Tiles[i, j]" @bind:event="onchange"></p>
                </td>
            }
        </tr>
    }
</table>

@code {
    [Parameter]
    public DubiousDroidsClassLibrary.Overhead.Interfaces.IGameState GS { get; set; }

    private string[,] Tiles { get { return GS.OutputManager.DisplayedTiles; } }

}
