@page "/"

@inject DubiousDroidsClassLibrary.Overhead.Interfaces.IGameState GameState

<h1>Hello, world!</h1>

Welcome to your new app.

<DroidMapTable GS="@GameState"></DroidMapTable>
<CommandConsole GS="@GameState"></CommandConsole>
