
.console-log {
    background-color: inherit;
    color: inherit;
    white-space: pre-line;
    font-family: inherit;
}

.console-input {
    width: 100%;
    padding: 0;
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

.console-input:focus {
    outline: none;
}

.command-console {
    overflow-y: scroll;
    height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Lucida Console', Courier, monospace;
    cursor: text;
}